/* Default Styles */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
} 

/* Visualize Layout (Placeholders) */

body * {
    border: 0.5px solid black;
}

img {
    width: 30px;
}

/* General Layout */

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Header */

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.header > * {
    display: flex;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / 3;
}

.nav-item {
    display: flex;
    gap: 1rem;
}

.sidebar-title {
    margin-bottom: 4rem;
}

.sidebar-nav-top {
    margin-bottom: 2rem;
}

/* Content */

.content {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.projects {
    grid-row: 1 / 3;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-icons {
    display: flex;
    gap: 0.5rem;
}

.trending-user {
    display: flex;
    gap: 0.5rem;
}